# Simula demora nas consultas de BD
WAIT_TIME_MS=500
# Tamanho máximo para upload de imagens em bytes
NEXT_PUBLIC_FILE_UPLOADER_MAX_SIZE = 900 * 1024
# Nome da pasta onde as imagens são salvas após upload
IMAGE_UPLOAD_DIR = 'uploads'
# URL completa do servidor de imagens sem barra final
IMAGE_SERVER_URL = 'http://localhost:3000/uploads'

# Chave usada para assinar os tokens JWT
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar uma secret key
JWT_SECRET_KEY='SUA_SECRET_KEY_AQUI'

# Tempo para o login expirar (use o mesmo valor em seconds e string)
# Ex: 3600 -> 1h, 600 -> 10m, 60 -> 1m, 86400 -> 1d
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

# Nome do cookie usado para login
LOGIN_COOKIE_NAME='loginSession'

TURSO_DATABASE_URL=libsql://the-blog-jeanvdf.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODQxNDQ1NTUsImlkIjoiMDE5ZjY3NGMtMTMwMS03YjEwLWFjN2ItN2ZmZjQxNjVlMWM2Iiwia2lkIjoiWG5TdzVtdnNVMXEtVWNoUy1rc2FBSWRqTzNOcWJpOUFPby0xZ21mMDVqNCIsInJpZCI6IjZiZjExOWY3LTJlNTUtNGE5Ni05OTQ3LTUwNTdjYmRmY2IzMCJ9.meREpODuMqFL866ojWD2ceuQtkcfgPSzd1EJk1XU4Phu9t4OekGtEOYRdGAv3g-3i0ZSpAdp7TRjiL6cXXo0Bw


# Nome do seu usuário para logar no site em /admin/login
LOGIN_USER='root'
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar seu hash de senha
LOGIN_PASSWORD='SEU_HASH_DE_SENHA_AQUI'

# Permite ou não login (0 = Não, 1 = Sim)
ALLOW_LOGIN=1
